
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.backgr {
    background-image: url('../../components/assets/banner/backgr.jpg');
    background-repeat: no-repeat;
    
    background-size: 100%;
    height: 100vh;
    background-position: top;
    margin: 0;
  padding: 0;
  text-align: center;

    /* width: 50%; */
}


.backgr p {
    color: white;
    padding: 50px 0;
    font-size: 30px;
  
}

.loginform{
    margin-top: 20px;
    padding: 20px 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}


.textlogin {

    display: flex;
    justify-content: space-between;
}

.inputs{
    margin-top: 20px;
   position: relative;
  
}

.inputs input {
    padding: 10px;
    width: 100%;
    height: 40px;
    margin-top  : 20px;
    border: none;
}

.inputs span {
    /* display: block;
    position: absolute;
    left: -100px; */
    width: 100%;
    font-size: 13px;
    color: red;
    margin: 0;
}

.inputs button {
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    background-color: red;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    
}